.menu-contents {
	width: 80%;
	height: 94%;
	position: absolute;
	top: 6%;
	left: 20%;
	justify-content: center;
	align-items: center;
}

.contents-wrapper {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 92.5%;
}

.contents-head {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 0.2rem solid #e74c3c;
}

.list-title {
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
}

.list-delete {
	display: flex;
	text-align: right;
	align-items: center;
	font-size: 1.5rem;
	transition-duration: 0.4s;
	width: 5%;
	padding-right: 1%;	
}

.list-edit {
	display: flex;
	text-align: right;
	align-items: center;
	font-size: 1.5rem;
	transition-duration: 0.4s;
	width: 5%;
}

.list-delete:hover {
	cursor: grab;
	color: #e74c3c;
}

.list-edit:hover {
	cursor: grab;
	color: #e74c3c;
}

.contents-list {
	height: 80%;
	width: 100%;
	overflow-y: auto;
}

.contents-list::-webkit-scrollbar {
  	width: 0.25rem;
}
 
.contents-list::-webkit-scrollbar-thumb {
  	background: #e74c3c; 
  	border-radius: 10px;
}

.contents-list::-webkit-scrollbar-thumb:hover {
  	transform: scale( 2, 2 );
}

.list-item {
	height: 9%;
	width: 100%;

	display: flex;
	align-items: center;

	margin-top: 1.2%;

	background: rgba( 255, 255, 255, 0.5 );

	cursor: grab;
}

.list-item * {
	font-size: 1.2rem;

	display: flex;
	align-items: center;
}

.list-item-prefix {
	height: 100%;
	width: 5%;
	justify-content: center;
}

.list-item-text {
	height: 100%;
	width: 87%;
	white-space: nowrap;
	overflow: hidden;
}

.list-item-edit {
	height: 100%;
	width: 4%;
	justify-content: center;
}

.list-item-delete {
	height: 100%;
	width: 4%;
	justify-content: center;
}

.list-item-edit:hover {
	cursor: grab;
	color: #e74c3c;
}

.list-item-delete:hover {
	cursor: grab;
	color: #e74c3c;
}

.list-item-add-wrapper {
	height: 7.5%;
	width: 100%;
	border: none;

	background: rgba( 0, 0, 0, 0.25 );

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;

	border-radius: 0.4rem;
}

.list-item-add-wrapper * {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
}

.list-item-add {
	width: 90%;
	height: 100%;

	border: none;
	background: none;

	outline: none;
}

.list-item-add-button {
	width: 10%;
	height: 100%;
	justify-content: flex-end;
	cursor: grab;
}
.list-item-add-button:hover {
	color: #e74c3c;
}