* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: white;
}

.titlebar {
	height: 6%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #e74c3c;
	z-index: 2;

	display: flex;
	align-items: center;
	padding-left: 1.1rem;
}

.titlebar-logo {
	width: 3.7%;
	height: 100%;
	font-size: 2.8rem;
	display: flex;
	text-align: center;
	align-items: center;
}

.titlebar-title {
	display: flex;
	text-align: center;
	align-items: center;
	font-size: 1.6rem;
}

.menu {
	height: 94%;
	width: 20%;
	position: absolute;
	top: 6%;
	left: 0;

	background-color: #333;
	box-shadow: 0 0 1.5rem 1rem rgba( 0, 0, 0, 0.3 );
	overflow: hidden;
	padding-top: 2.5%;
}

.list {
	width: 90%;
	height: 7.5%;
	transition-duration: 0.3s;

	display: flex;
	align-items: center;
	font-size: 1.2rem;

	margin-top: 5%;
	margin-left: 2.5%;

	outline: none;
	border: none;
}

.list:hover {
	cursor: grab;
	box-shadow: 0 0 0.5rem 0.4rem rgba( 0, 0, 0, 0.4 );
}

.list-prefix {
	height: 100%;
	width: 5%;
	display: flex;
	text-align: left;
	align-items: center;
	font-size: 1.2rem;
	padding: 0.5rem;
}

.list-text {
	width: 95%;
	height: 100%;
	padding: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
}

.selected-list {
	box-shadow: 0 0 0.5rem 0.25rem rgba( 0, 0, 0, 0.4 );
}

.lists {
	width: 100%;
	height: 85%;
	overflow-y: auto;
	padding-left: 5%;
}

.lists::-webkit-scrollbar {
  	width: 0.25rem;
}
 
.lists::-webkit-scrollbar-thumb {
  	background: #e74c3c; 
  	border-radius: 10px;
}

.lists::-webkit-scrollbar-thumb:hover {
  	transform: scale( 2, 2 );
}

.lists-add-wrapper {
	width: 90%;
	border: none;
	background: rgba( 0, 0, 0, 0.25 );
	border-radius: 0.4rem;

	padding: 0.5rem;

	display: flex;
	margin-top: 15%;
	margin-left: 5%;
}

.lists-add-button {
	display: flex;
	text-align: right;
	align-items: center;
	font-size: 1.2rem;
	transition-duration: 0.2s;
}

.lists-add-button:hover {
	cursor: grab;
	color: #e74c3c;
}

.lists-add {
	width: 90%;
	border: none;
	background: none;
	
	outline: none;
	font-size: 1.2rem;
}

.button-toolbar {
	width: 100%;
	position: absolute;
	top: 100%;
	display: block;
	padding: 2.5%;
	z-index: 3;
	background: #444;
	box-shadow: 0 0 0.5rem 0.25rem rgba( 0, 0, 0, 0.4 );
	clip-path: inset( 0 -0.5rem -0.5rem -0.5rem );
	border: none;
}